D:/WE_IT/doit/chapter11-1.ipynb filter=lfs diff=lfs merge=lfs -text
D:/WE_IT/doit/bookdata/Koweps_hpwc14_2019_beta2.sav filter=lfs diff=lfs merge=lfs -text
D:/WE_IT/doit/bookdata/Koweps_hpwc14_2019_beta2.sav filter=lfs diff=lfs merge=lfs -text
